.cards {
    padding:4rem 2rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
    color: #3066BE;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 20 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    margin-left: 35px;
    display: flex;
    flex-flow: column;
    width: 340px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: #b4c5e4 0px 5px 15px;
    transition: all 0.2s linear;
  }

  .cards__item__link:hover{
    transform: scale(1.1);
  }
  
  .cards__item__img {
    margin-top: 20px;
    margin-left: 20px;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  
  .cards__item__info {
    padding: 20px 20px 30px;
  }
  
  .cards__item__text{
    color:#0B0B0B;
    font-weight: 500;
    font-size: 33px;
    line-height: 40.03px;
    letter-spacing: 0.2%;
    margin-bottom: 20px;
  }

  .cards__item__label{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.2%;
    color:#3C3744;
    
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  .bara{
    margin-bottom: 50px;
    margin-top: 20px;
    padding:10px;
    text-align: center;
    color: #b4c5e4;
    width: 100%;}
  