
.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

}
  
  .text_part {
    flex: 1;
    padding: 90px;

    text-align: left;
  }
  .text_part h1{
    font-weight: 400;
    font-size: 62px;
    line-height: 75.21px;
    letter-spacing: 0.2%;
    text-align: left;
  }
  .text_part h1 span{
    color: #3066BE;
  }

  .text_part p{
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0.2%;
    margin-top: 40px;
    padding: 20px;
  }

  .hero-btns {
    margin-top: 20px;
    margin-bottom: 40px;
    
  }
  
  .hero-btns .btn {
    margin: 6px;
    background-color: #3066BE;
    width: 246px;
    height: 73px;
    border-radius: 14px;
    padding: 22px 80px;
  }

  /* Style for the image div */
  .video_part {
    flex: 1; /* Take up 50% of the width */
    text-align: right;
  }

  /* Style for the image (for demonstration purposes) */
  .video_part img {
    box-shadow: #B4C5E4 -15px 15px, #b4c5e4a4 -30px 30px;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%; 
  }
  
  
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
    .hero-container{
      display: flex;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }

  .bara{
    margin-top: 60px;
    text-align: center;
    background-color: #3066BE;
    color: aliceblue;
    text-transform: capitalize;
    padding-top :15px;
    padding-bottom :15px;
  }